<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-brand">
        <a href="<%= root_url %>" class="navbar-item">
          <%= image_tag('bbq-logo.png', height: 42) %>
        </a>
      </div>
     <%= link_to "Locations", locations_path, class: 'navbar-item' %>
     <%= link_to "By State", states_path, class: 'navbar-item' %>
     <%= link_to "Vendors", vendors_path, class: 'navbar-item' %>
      <div class="navbar-menu">
        <div class="navbar-end">
          <% if user_signed_in? %>
            <div class="navbar-item">
              Welcome, <strong><%= current_user.email %></strong>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'button is-primary' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button is-light'  %>
              </div>
            </div>
          <% else %>
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to "Sign up", new_user_registration_path, :class => 'button is-primary'  %>
                <%= link_to "Login", new_user_session_path, :class => 'button is-light'  %>
              </div>
            </div>
          <% end %>
            </div>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <section class="section">
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
