<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<div class="container">
  <% @locations.each do |location| %>
    <div class="card is-horizontal columns mb-5">
      <div class="card-content column">
        <h1>
          <%= link_to location.vendor.name, vendor_path(location.vendor) %>
        </h1>
        <a href="<%= location.vendor.website %>">
          <%= location.vendor.website %>
        </a><br />
        <%= location.address_1 %><br />
        <% if location.address_2 %><%= location.address_2 %><% end %>
        <%= location.city %>, <%= location.state %>&nbsp;
        <%= location.postal_code %><br />
        <%= location.hours %> <%= location.phone %>
      </div>
    </div>
  <% end %>
</div>
