<h1>Vendors</h1>

<div class="container">
<% if user_signed_in? %>
  <%= link_to "Add Vendor" , new_vendor_url  %>
  <hr />
<% end %>
  <% @vendors.each do |vendor| %>
    <div class="card is-horizontal columns">
      <div class="card-image column is-one-quarter">
        <figure class="image">
          <img src="<%= asset_path("blank-pig.png") %>">
        </figure>
      </div>
      <div class="card-content column">
        <h1>
          <%= link_to vendor.name, vendor_url(vendor) %>
        </h1>
        <a href="<%= vendor.website %>"><%= vendor.website %></a>
        <% vendor.locations.each do |location| %>
          <div>
            <%= location.address_1 %><br />
            <% if location.address_2 %><%= location.address_2 %><% end %>
            <%= location.city %>, <%= location.state %> <%= location.postal_code %><br />
            <%= location.hours %> <%= location.phone %>
          </div>
      <% end %>
      <% if user_signed_in? %>
        <div> Status: <%= vendor.status %></div>
        <div>
         <%= link_to "Edit", edit_vendor_path(vendor) %> 
         | <%= link_to "Delete", vendor_path(vendor),data: {confirm: "Are you sure?"}, method: :delete %> 
        </div>
      <% end %>

      </div>
    </div>
  <% end %>
</div>
