<p id="notice"><%= notice %></p>

<h1><%= @loc.vendor.name %></h1>
<div><%= @loc.vendor.website %> </div>

<div>
  <%= @loc.address_1 %></br>
  <%= @loc.address_2 %></br>
  <%= @loc.city %>, <%= @loc.state %> <%= @loc.postal_code %>
</div>

<div>
  <%= @loc.phone %>
</div>

<div>
  <%= @loc.hours %>
</div>
